body {
	font-family: 'Open Sans', sans-serif;
	color: #868686;
	line-height: 1.4;
	font-size: .87em;
	background-color: #fff;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100% !important;
    padding-top: 35px;
}

.container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	clear: both;
}

