.eventWrap {
	margin: 0 5%;
	height: 220px;
}

.eventDate {
	margin: 0 auto;
	width: 25%;
	display: block;
	float: left;
	margin-bottom: 2%;


	h3 {
		font-size: 3em;
		font-weight: 800;
		letter-spacing: -3px;
		color: #232323;
		margin: 0;
		padding: 0;
		padding-top: 100%;
	}

	h6 {
		color: #232323;
		margin: 0;
		padding: 0;
		font-size: 1.4em;
	}
}


.dateContain {
	height: 220px;
}


.eventBox {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	width: 75%;
	height: 220px;
	display: block;
	background: #232323;
	margin: 0 auto;
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	margin-bottom: 2%;
	
	h4 {
		padding: 0;
		margin: 0 auto;
		font-weight: 800;
		letter-spacing: -1px;
		font-size: 1.1em;
	}
	p {
		font-family: 'Montserrat', sans-serif;
	}
	a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
	}

}

.dateBlue {
	background: #6dcff6;
}
.datePurple {
	background: #a186be;
}
.dateYellow {
	background: #fff568;
}
.datePink {
	background: #f49ac1;
}
.dateBlue {
	background: #6dcff6;
}
.dateGreen {
	background: #acd373;
}
.dateOrange {
	background: #f68e56;
}